/*
* General definitions
*/
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: gray;
    width: 900px;
    margin: auto;
}

/*
* Header definitions
*/

body > header {
    margin-top: 40px;
    overflow: hidden;

}

    body > header h1 {
        font-size: 30px;
        font-weight: normal;
        text-align: center;
        margin: 0;

    }

    body > header h1 a {
        color: gray;
        text-decoration: none;
    }



/*
* API information definitions
*/

section.api-info {
    margin-left: 10px;
}

    section.api-info h2 {
        font-size: 26px;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }

    section.api-info p {
        margin: 0;
        padding: 0;
    }

/*
* Resource definitions
*/
section.resource {
    margin: 10px 0 30px;
}

    section.resource header h3 {
        font-size: 28px;
        margin: 0;
        font-weight: normal;
        color: #636363;
    }

    section.resource header p {
        font-size: 15px;
        background-color: #fff;
        margin: 0;
        padding: 5px 2px;
    }

    section.resource  ul {
        padding: 0;
        margin: 0;
    }

        section.resource ul li {
            list-style-type: none;
            padding-bottom: 0;
        }

            section.resource ul li .try-it {
                padding: 10px 0;
                background-color: #fbfbfb;
                border-bottom: 1px solid #e8e8e8;
                display: none;
            }

            section.resource ul li .global {
                padding: 10px 0;
                background-color: #fbfbfb;
                border-bottom: 1px solid #e8e8e8;
            }

            section.resource ul li .result {
                display: none;
            }

            section.resource ul li a {
                display: block;
                margin: 5px 0 0;
                text-decoration: none;
                color: rgb(82, 82, 82);
                overflow: hidden;
            }

                section.resource ul li strong {
                    font-weight: normal;
                    display: block;
                    float: left;
                    padding-top: 2px;
                    width: 100px;
                    text-align: center;
                }

                section.resource ul li span {
                    display: block;
                    float: left;
                    margin-left: 20px;
                    padding-top: 2px;
                }

                section.resource ul li a i {
                    font-style: normal;
                    display: block;
                    float: right;
                    padding-top: 3px;
                    padding-right: 5px;
                    font-size: 15px;
                }

                section.resource ul li fieldset {
                    margin: 10px 0;
                    padding: 0;
                }

                section.resource ul li h2, legend {
                    font-size: 17px;
                    padding: 0;
                    color: #bebebe;
                    border-bottom: 1px solid #DEDEE9;
                    display: block;
                    width: 100%;
                    margin-bottom: -4px;
                    margin-top: 10px;
                    font-weight: normal;
                }

                section.resource ul li pre {
                    margin: 10px 0;
                    font-size: 14px;
                }

                section.resource ul li form, section.resource ul li .result {
                    margin: 0 100px;
                    overflow: hidden;
                }

                    section.resource ul li form p  {
                        width: 49%;
                        float: left;
                        margin-top: 0;
                        margin-bottom: 10px;
                    }

                    section.resource ul li form label {
                        display: block;
                        width: 100%;
                        margin-top: 10px;
                        font-size: 16px;
                    }

/*
* HTTP Method definitions
*/

/* GET */
section.resource ul li.get a {
    background-color: #e0ffda;
}

section.resource ul li.get strong {
    background-color: #cbf886;
}


/* DELETE */
section.resource ul li.delete a {
    background-color: #ffe5ec;
}

section.resource ul li.delete strong {
    background-color: #ffacbe;
}

/* POST */
section.resource ul li.post a {
    background-color: #fffabb;
}

section.resource ul li.post strong {
    background-color: #ffe272;
}

/* PUT */
section.resource ul li.put a {
    background-color: #caf1ff;
}

section.resource ul li.put strong {
    background-color: #aee7ff;
}

/* PATCH */
section.resource ul li.patch a {
    background-color: #f1dfff;
}

section.resource ul li.patch strong {
    background-color: #efc3ff;
}


/*
* Feedback form definitions
*/

section.resource li.endpoint a.give-feedback {
    background: none;
    font-size: 13px;
    text-decoration: underline;
}

#submit-feedback {
    bottom: 0;
    position: fixed;
    margin-left: 500px;
    width: 400px;
}

    #submit-feedback form {

        background-color: #f6f6f6;
        padding: 10px;
        margin: 0;
        display: none;
    }
        #submit-feedback p {
            margin: 0;
        }

        #submit-feedback label {
            margin: 4px 0;
            display: block;
            font-size: 17px;
        }

        #submit-feedback textarea {
            width: 300px;
            height: 70px;
            font-size: 16px;
        }

        #submit-feedback #submit-feedback-button {
            font-size: 16px;
            padding: 7px 10px;
            text-decoration: none;
            background-color: #CE1446;
            color: white;
            display: block;
            float: right;
        }

        #submit-feedback #feedback-response {
            background-color: #fdffd1;
            padding: 10px;
            display: none;
        }