{% load api_browser_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>API Browser</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}api_browser/css/h5bp.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}api_browser/css/screen.css">
</head>
<body>

    <header>
    </header>

    {% for resource in schema.resources %}
    <section class="resource">
        <header>
            <h3>{{ resource.name }}</h3>
        </header>
        <ul>
            {% for endpoint in resource.endpoints %}
            <li class="{{ endpoint.method|lower }} endpoint">
                <a href="#">
                    <strong>{{ endpoint.method|upper }}</strong>
                    <span>{{ endpoint.url }}</span>
                    <i>{{ endpoint.description }}</i>
                </a>
                <section class="try-it">
                    <form action="{{ endpoint.url }}" method="{{ endpoint.method|upper }}">

                        {% get_endpoint_forms endpoint as forms %}

                        <fieldset>
                            <legend>URL Parameters</legend>
                            {{ forms.url_parameter_form.as_p }}
                        </fieldset>


                        <fieldset>
                            <legend>Data Parameters</legend>
                            {{ forms.data_parameter_form.as_p }}
                        </fieldset>

                        <input type="submit" value="{{ endpoint.method }}">
                    </form>
                    <section class="result request">
                        <h2>Request</h2>
                        <pre><code></code></pre>
                    </section>
                    <section class="result response-status">
                        <h2>Response Status</h2>
                        <pre><code></code></pre>
                    </section>

                    <section class="result response-headers">
                        <h2>Response Status</h2>
                        <pre><code></code></pre>
                    </section>

                    <section class="result response-body">
                        <h2>Response Headers</h2>
                        <pre><code></code></pre>
                    </section>
                </section>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endfor %}
</body>

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}' +
        'api_browser/js/jquery-1.7.1.min.js"><\/script>')</script>
<script src="{{ STATIC_URL }}api_browser/js/jquery.rest-form.js"></script>
<script src="{{ STATIC_URL }}api_browser/js/jquery.form2json.js"></script>
<script type="text/javascript">
    $(function () {
        $("form").restForm({
            "submit": function (request_headers) {

                var request = $(this).siblings(".request");
                request.show().find("code").html(request_headers.join("\n"));



            },
            "complete": function (xhr) {
                a=xhr

                $(this).siblings(".response-status").show().find("code").html(
                        xhr.statusText + " (" + xhr.status + ")")

                $(this).siblings(".response-headers").show().find("code").html(
                        xhr.getAllResponseHeaders());

                $(this).siblings(".response-body").show().find("code").text(
                        xhr.responseText || "(EMPTY)");
            }
        });

        $(".endpoint a").click(function () {
            $(this).parent().find(".try-it").slideToggle(100);
            return false;
        });
    });
</script>
</html>