{% extends "api_browser/base.html" %}
{% load i18n %}
{% block content %}
  {% include "api_browser/resources.html" %}
{% endblock %}

{% block footer %}
  {% if feedback_form_toggle %}
      <!-- submit feedback form -->
      <div id="submit-feedback">
          <form action="{% url "api_playground_submit_feedback" %}" method="post">
              {% csrf_token %}
              {{ feedback_form.as_p }}
              <input type="submit" value="Submit">
          </form>
          <div id="feedback-response">{% trans "Thanks, Your feedback has been sent successfully." %}</div>
          <a href="#" id="submit-feedback-button">{% trans "Submit Bug & Feedback" %}</a>
      </div>
  {% endif %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(function () {
        new APIBrowser();
    });
</script>
{% endblock %}
