{% load i18n %}

{% load api_browser_tags %}

{% get_global_forms schema as global_forms %}
{% if global_forms.data_parameter_form.fields %}
<section class="resource">
    <ul>
        <li>
            <section class="global">
                <form id="global-form">
                    <fieldset>
                        <legend>Global Parameters</legend>
                        {{ global_forms.data_parameter_form.as_p }}
                    </fieldset>
                </form>
            </section>
        </li>
    </ul>
</section>
{% endif %}

{% for resource in schema.resources %}
    <section id="{{ resource.name }}" class="resource">
        <header>
            <h3>{{ resource.name }}</h3>
            <p>{{ resource.description }}</p>
        </header>
        <ul>
            {% for endpoint in resource.endpoints %}
                <li class="{{ endpoint.method|lower }} endpoint">
                    <a href="#">
                        <strong>{{ endpoint.method|upper }}</strong>
                        <span>{{ endpoint.url|render_url}}</span>
                        <i>{{ endpoint.description }}</i>
                    </a>
                    <section class="try-it">
                        {% if endpoint.full_description %}
                            <div class="full_description">{{ endpoint.full_description|safe }}</div>
                        {% endif %}
                        <form action="{{ endpoint.url }}" data-endpoint-url="{{ endpoint.url }}" method="{{ endpoint.method|upper }}">
                            {% spaceless %}
                                {% get_endpoint_forms endpoint as forms %}
                                {% if forms.url_parameter_form.fields %}
                                    <fieldset class="url-parameters">
                                        <legend>URL Parameters</legend>
                                        {{ forms.url_parameter_form.as_p }}
                                    </fieldset>
                                {% endif %}{% if forms.data_parameter_form.fields %}
                                <fieldset>
                                    <legend>Data Parameters</legend>
                                    {{ forms.data_parameter_form.as_p }}
                                </fieldset>
                            {% endif %}
                                <input type="submit" value="{{ endpoint.method }}">
                            {% endspaceless %}</form>
                        <section class="result request"><h2>{% trans "Request" %}</h2><pre><code></code></pre></section>
                        <section class="result response-status"><h2>{% trans "Response Status" %}</h2><pre><code></code></pre></section>
                        <section class="result response-headers"><h2>{% trans "Response Headers" %}</h2><pre><code></code></pre></section>
                        <section class="result response-body">
                            <h2>{% trans "Response Body" %}</h2><pre><code></code></pre>
                            {% if feedback_form_toggle %}
                                <a class="give-feedback" data-endpoint="{{ endpoint.method|upper }} {{ endpoint.url }}" href="#">{% trans "Give feedback about this response" %}</a>
                            {% endif %}
                        </section>
                    </section>
                </li>{% endfor %}
        </ul>
    </section>
    {% endfor %}

